<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:annotation-config/>

	
	<bean id="testController" class="spring.controller.TestController">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	
	<bean id="imgController" class="spring.controller.ImgController">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	
	<bean id="insertController" class="spring.controller.InsertController">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	
	<bean id="registerController" class="spring.controller.RegisterController">
		<constructor-arg ref="userRegSvc"></constructor-arg>
	</bean>
	
	<bean id="loginController" class="spring.controller.LoginController">
		<constructor-arg ref="loginSvc"></constructor-arg>
	</bean>
	
	<bean id="logoutController" class="spring.controller.LogoutController"></bean>
	
	<bean id="adoBoardController" class="spring.controller.AdoBoardController">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	
	<bean id="idSearchController" class="spring.controller.IdSearchController">
		<constructor-arg ref="idSearchSvc"></constructor-arg>
	</bean>
	
	<bean id="mainController" class="spring.controller.MainController"></bean>
	
	<bean id="RegisterModifyController" class="spring.controller.RegisterModifyController">
		<constructor-arg ref="regModiSvc"></constructor-arg>
	</bean>
	
	<!-- pwdSearchController추가 -->
	<bean id="PwdSearchController" class="spring.controller.PwdSearchController">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	
	<bean id="PwdSearchAndChangeController" class="spring.controller.PwdSearchAndChangeController">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	<bean id="reviewBoardController" class="spring.controller.ReviewBoardController">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	<bean id="freeBoardController" class="spring.controller.FreeBoardController">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	<bean id="commentController" class="spring.controller.CommentController">
		<constructor-arg ref="userDao"></constructor-arg>
		<constructor-arg ref="returnAdoDetailSvc"></constructor-arg>
		<constructor-arg ref="returnReviewDetailSvc"></constructor-arg>
	</bean>
	
		<!--정보공유게시판  -->
	<bean id="infoBoardcontroller" class="spring.controller.InfoBoardcontroller">
		<constructor-arg ref="userDao"></constructor-arg>
	</bean>
	

</beans>